---
import { Header, Breadcrumbs, DocsComponent } from "mee-components";
import { header, meeFoundation } from "../../astro.config.mjs";
import Layout from "../layouts/Layout.astro";

const data = {
  users: {
    enabled: true,
    link: "/docs/users/mee-browser",
  },
  providers: {
    enabled: false,
    link: "",
  },
  developers: {
    enabled: true,
    link: "/docs/developers/mee-browser",
  },
};
---

<Layout title="Docs">
  <main class="">
    <Header header={header} activePage="docs" location="Mee Browser" />
    <article
      class="relative mt-27 flex h-full min-h-screen w-screen flex-col items-center gap-4 overflow-hidden pt-16"
    >
      <Breadcrumbs
        className="hidden md:flex"
        breadcrumbs={[
          { title: "Projects", link: `${meeFoundation}projects/` },
          { title: "Mee Browser", link: `/` },
          { title: "Docs" },
        ]}
      />
      <DocsComponent data={data} title="Mee Browser Docs" />
    </article>
  </main>
</Layout>
